@page "/"


<h2>Aplikacioni "PR VIZ" ndryshe si "Page Replacement Vizualizer" eshte zhvilluar ne kuader te temes se diplomes niveli bachelor</h2>
<h3>Permban keto module</h3>
<ul>
    <li><b>Simulimi</b> - Cka ndodh ne prapavije me kornizen memorike dhe me faqet krejt kjo ne forme te vizualizuar</li>
    <li><b>Krahasimi</b> - Shih performancen e algoritmeve te zevendesimit apo zgjidh dy algoritme dhe krahaso ato mes vete</li>
</ul>
@code {}

<style>
    h2 {
        font-size: 24px;
        margin-bottom: 80px;
    }
    h3 {
        font-size: 20px;
        margin-bottom:30px;
    }

    ul {
        list-style-type: disc;
        font-size: 16px;
    }

    li {
        margin-bottom: 5px;
    }
</style>